*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  
}
 
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


.header {
  
  background-color: #1F98F0;
  width: 100%;
  min-height: 1000px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.hungry {
  margin-right: 80px;
  display: inline-block;
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  color: #FFFFFF;

}

.header__hungry {
   
}

.header__text {
  margin-left: 57px;
  position: relative;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  order: 1;
  margin: 0px 40px;
  cursor: pointer;
}

.header__text::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background-color: #FFFFFf;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.header__text:hover::after { 
  width: 100%; 
  left: 0; 
}


.button__downloadNow {
  margin-left: 143px;
  margin-top: -16px;
  position: absolute;
  width: 184px;
  height: 52px;
  top: 35px;
  background: #FFFFFF;
  border-radius: 10px;
}

.downloadNow {
  position: static;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #03101A;
  flex: none;
  order: 0;
  display: inline-block;
}



.wrapper{
  display: flex;
  justify-content: space-between;
}

.wrapper__left {
  display: block;
}

.wrapper__right {
  margin: 95px 106px  0 0;
  display: block;
}
.favourite__common {
  margin: 242px 0 30px 0;
  position: relative;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 130%;
  color: #FFFFFF;
}

.favourite__text {
  margin: 0 14px 30px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.mobile__google {
  margin-right: -50px;
  position: absolute;
  width: 205px;
  height: 60px;
}

.mobile__appStore {
  margin-left: 250px;
  position: absolute;
  width: 205px;
  height: 60px;
  
}

.cart__two {
  
  width: 245px;
  height: 529px;
  margin-top: 80px;
  margin-left: 185px;
  border-radius: 34px;
}

.logo-left {
  margin-left: 350px;
  position: absolute;
  
}

.cart__one {
  width: 304px;
  height: 654px;
  position: absolute;
  border-radius: 34px;
}

.logo-right {
  margin-top: 505px;
  margin-left: -510px;
  position: absolute;
}

.main__common {
  background-color: #FFFFFF;
}
.main__100 {
  margin: 63px 0 44px 0;
  width: 282px;
  height: 25px;
}

.burger {
  background-image: url(/img/icon/logoipsum/Vector.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 56px;
  position: absolute;
  margin-top: -15px;
 
}
.Logoipsumm {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  margin-left: 60px;
  color:  #394149;
  

}

.dog {
  background-image: url(/img/icon/logoipsum`/Vector1.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 56px;
  position: relative;
  margin-top: -15px;
}

.dog__left{
  position: absolute;
  background-image: url(/img/icon/logoipsum`/Vector2.png);
  margin-left: 350px;
}